.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #221e1f;
  padding: 0 20px;
  color: #ddd;

  .logo {
    img {
      height: 50px;
    }
  }

  .mobile-nav {
    position: absolute;
    cursor: pointer;
    left: 85%;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #181617;
    opacity: 0.7;
    height: 25%;

    li {
      padding: 25px 60px;
    }

    @media screen and (max-width: 320px) {
      height: 35%;
    }
  }
}
