.cta {
  background-color: #211e1f;
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../assets/raleigh.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  color: #e5e5e5;

  .title {
    font-size: 3rem;
    padding-bottom: 30px;

    :first-child {
      padding-bottom: 10px;
    }
  }

  .job {
    font-size: 1.8rem;
    padding-bottom: 30px;
    color: #ddd;
    font-weight: 300;

    :first-child {
      padding-bottom: 10px;
    }
  }

  .btn {
    border: 2px solid #e5e5e5;
    background: transparent;
    width: 120px;
    color: #e5e5e5;
    padding: 10px 30px;
  }
}
